@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  @apply bg-slate-900 text-slate-50 min-h-screen flex justify-center items-center overflow-y-auto;
}